header{
    margin-left: 910px;
    font-family: cursive;
    /* text-align: center; */
    margin-top: 5%;
    height: 30px;
    font-size: xx-large;
}

h1{
    margin-left: 990px;
    color: #09A7A1;
    margin-top: 35px;
}

button.toggle-button{
    /* position: absolute; */
    padding: 10px 5px;
    background-color: #09A7A1;
    border-style: hidden;
    font-size: large;
    cursor: pointer;
    border-radius: .5rem;
    /* z-index: 1; */
}

button.toggle-button:active{
    transform: translateY(3px);
}

nav{
    position: fixed;
    left: 0px;
    top: 0;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #09A7A1;
    z-index: 1;
}

nav a{
    display: inline-block;
    /* margin: 20px 50px; */
    /* padding: 10px 15px; */
    /* width: 50%; */
    height: 10%;
    font-weight: bold;
    font-size: 150%;
    /* text-decoration: none; */
}

i.fas {
    width: 10%;
    margin-right: 25px;
 }

.profilePicture{
    width: 300px;
    height: 150;
    border-radius: 8%;
    display: block;
    margin-left: 890px;
    /* margin-right: auto; */
    margin-top: 50px;
} 

.profilePicture:hover {
    box-shadow: 0 0 10px 3px rgba(0, 140, 186, 0.5);
  }

p{
    margin-left: 850px;
    margin-right: 640px;
    font-family: cursive;
    font-size: x-large;
    text-align: justify;
}

footer{
    text-align:  center; 
    margin-bottom: 10px;
    margin-left: 300px;
}

figure{
    display: inline-block; 
    margin-left: 380px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-right: -100px; 
}

.portfolioImages{
    width: 150px;
    height: 150px;
    border-radius: 8%;
    border-width: thin;
    border-style: ridge;
    border-color: #09A7A1;    
}

.portfolioImages:hover {
    box-shadow: 0 0 10px 3px rgba(0, 140, 186, 0.5);
  }

figcaption, a{
    font-size: 20px;
    text-decoration: none;
}

figcaption{
    margin-left: 60px;
    margin-top: 10px;
    margin-right: -100px;    
}

a:hover{
    font-size: 30px;
    text-decoration: wavy;
    /*text-shadow: 10px 3px rgba(0, 140, 186, 0.5);*/
}

i#contact{
    margin-left: 1000px;
    margin-top: 50px;
    color:orangered;
}

address{
    margin-left: 970px;
    padding: 10px;
}

/* Dropdown buttons*/
.dropdown .dropbtn{
    font-size: 30px;
  }
  
  /* Dropdown Button */
  .dropbtn {
    background-color: #09A7A1;
    margin-left: 450px;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 300px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 450px;
    background-color: #09A7A1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: white;}
  

/* RESPONSIVE RULES*/

@media screen and (max-width: 1424px){
    header{
        margin-left: 50%;
    }
    .profilePicture{
        margin-left: 50%;
    }
    h1{
        margin-left: 55%;
    }
    p{
        margin-left: 45%;
        margin-right: 20%;
    }
    figure{
        margin-left: 420px;
    }
    i#contact{
        margin-left: 55%;
    }
    address{
        margin-left: 52%;
    }
    .dropbtn{
        margin-left: 100px;
    }
    .dropdown-content{
        margin-left: 100px;
    }
}
/* 
@media screen and (max-width: 768px){
    header{
        margin-left: 0px;
        margin-top: 25%;
        text-align: center;
    }
    h1{
        margin-left: 0px; 
        margin-top: 5%;
        text-align: center;
    }
    nav{
        position: absolute;
        flex-direction: row;
        height: 25%;
        width: 100%;
        opacity: 0.1;
    }
    nav a{
         padding: 5px 35px;
         width: 13%;
         height: 15%;      
     }
    
    a.navigationButtons{
        font-size: 100%;
    }
    figure{
        display: inline-block; 
        margin-left: 20px;
        margin-right: 70px;         
    }

    .profilePicture{
        display: flex;
        margin-left: auto;
        margin-top: 50px;
    }
    
    p{
        margin-top:  30px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: justify;
    }
    address{
        margin-left: 290px;   
    }
    i#contact{
        display: relative;
        margin-left: 290px;
        text-align: center;
        margin-top: 50px;
    }

    footer{
        margin-left: 0px;
        text-align: center;
    }
} */
/*
@media screen and (max-width: 1024px ){
    header{
        margin-top: 40px;
        margin-left: 200px;
        text-align: center;
    }

    .profilePicture{
        position: absolute;
        width: 200px;
        height: 270px;
        margin-top: 50px;
        margin-left: 50%;
    }

    p{
        margin-top:  360px;
        margin-left: 450px;
        margin-right: 230px;
        text-align: justify;
    }

    h1{
        margin-left: 180px; 
        margin-top: 5%;
        text-align: center;
    }
    i#contact{
        display: relative;
        margin-left: 470px;
        text-align: center;
        margin-top: 50px;
    }
    address{
        margin-left: 510px;
        padding: 10px;
    }
    
    footer{
        margin-left: 200px;
        text-align: center;
    }
} */
/*
@media screen and (min-width: 425px){
    header{
        margin-top: 90px;
        margin-left: 200px;
        text-align: center;
        font-size: 40px;
    }

    a.navigationButtons{
        font-size: 25px;
    }

    .profilePicture{
        position: absolute;
        width: 400px;
        height: 500px;
        margin-top: 190px;
        margin-left: 45%;
    }

    h1{
        margin-left: 180px; 
        margin-top: 5%;
        font-size: 30px;
        text-align: center;
    }
    p{
        margin-top:  830px;
        margin-left: 430px;
        margin-right: 130px;
        font-size: 30px;
        text-align: justify;
    }

    body .toggle-button{
        margin-top: 10px;
        font-size: 35px;
      }

     
    figcaption a{
        font-size: 25px;   
    }
    footer{
        margin-left: 250px;
        font-size: 20px;
        text-align: center;
    }
}
*/
